.download{
    padding:0 0 115px;
}

.download__info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.download__title{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.download__subtitle   {
    margin:18px 0 0 ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.download__button{
    margin: 50px 0 0;
    padding: 25px 0;
    width: 370px;

}

@media (max-width:1024px){
    .download{
        padding: 0 0 80px;
    }
    .download__title{
        font-size: 24px;
        line-height: 28px;
    }
    .download__subtitle{
        font-size: 14px;
        line-height: 16px;
    }
    .download__button{
        margin: 45px 0 0;
    }
}

@media (max-width:768px){
    .download{
        padding: 0 0 45px;
    }
    .download__title{
        font-size: 18px;
        line-height: 21px;
    }
    .download__subtitle{
        font-size: 13px;
        line-height: 15px;
    }
}




