header{
    width: 100%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}

.header__wrapper{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABBC5;
}

.header__navigation{
    height: 100%;
    display: flex;
    align-items: center;
}

.header__navigation-link{
    height: 100%;
    width: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}


.header__navigation-link:hover {
    border-bottom:3px solid #BABBC5;
}
.header__navigation-link:active{
    color: #E71414;
    border-bottom: 3px solid #E71414;
}

@media (max-width:1024px){
    .header__navigation-link{
        width: 112px;
        font-size: 12px;
        line-height: 14px;
    }
}



